@font-face {
    font-family: '이쁜폰트';
    src : url(../font/NanumSquareR.woff2);
}

body {
    font-family: 'gulim';
}


.profile {
    width: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.title {
    text-align: center; 
    font-size: 16px;
}

#job {
    text-align: center;
}


.box {
    width: 200px;
    background-color: cadetblue;
    margin: 10px;
    padding: 30px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: white;
    box-shadow: 10px 10px 5px gray;
}

.container {
    width: 800px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    
}

.left-menu {
    width: 20%;
    height:400px;
    background-color: cornflowerblue;
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
}


.right {
    width: 80%;
    height: 400px;
    background-color: coral;
    /*float: left;*/
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
}



.navbar li {
   display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;

}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-title {
    font-size: 40px;
    text-align: center;
    color: white;
}

.main-content {
    color: white;
    font-size: 22px;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    font-family: Times New Roman;
    font-weight: 600;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position:absolute;
    left: 0;
    right: 0;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    bottom: 120px;
    cursor: pointer;
    z-index: 5;
}

.air-box {
    max-width: 600px;
    width: 80%;
    height: 250px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 70px;
    text-align: center;
}

.air-box p {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 600;
}

.air-box span {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}



.contact-container {
    margin-top: 30px;
    background-color: white;
    width: 500px;
    height: 600px;
    margin-bottom: 30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 0;
}

.contact-us {
    width: 100%;
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 500;
}

.email-section {
    height: 100px;
}

.email {
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
    margin-bottom: 0;
}



.email-input {
    margin-top: 5px;
}

.email-input input {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.name-section {
    width: 100%;
    height: 110px;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0;
}

.left-name {
    width: 50%;
    height: 100%;
    float: left;
}

.right-name {
    width: 50%;
    height: 100%;
    float: left;
}

.first-name {
    text-align: left;
    margin: 0;
    padding-left: 40px;
    font-size: 20px;
}

.last-name {
    text-align: left;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;    
}

.name-input input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.name-input {
    text-align: left;
    padding-left: 40px;
    padding-top: 5px;
}


.last-name-input input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.last-name-input {
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

.message-section {
    clear: both;
    width: 100%;
    height: 220px;
}

.message {
    font-size: 20px;
    margin-top: 0;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 10px;
}

.message-input input{
    width: 85%;
    height: 150px;
    border-radius: 5px;
}

.submit-section {
    width: 100%;
    height: 100%;

    position: relative;
}

.checkbox {
    position: absolute;
    left: 35px;
}

input[type="checkbox"] {
    background-color: gray;
}

.submit-button {
    position: absolute;
    right: 35px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: 750;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
}



.subscribe {
    font-size: 15px;
    position: absolute;
    left: 58px;
    top: -3px;
}





.chart-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}



.inner-image {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}



th {
    border-bottom: 1px solid darkslategray;
    text-align: left;
    padding: 5px;
    height: 30px;
}



td {
    border-bottom: 1px solid darkslategray;
   
}

.image-cell {
    width: 140px;
}

.item-name {
    display: block;
    font-weight: 1000;
    color: black;
}

.item-cell {
    width: 210px;
    padding-left: 5px;
}

.amount-cell {
    text-align: right;
    width: 50px;
    padding-right: 5px;
}





.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.price-cell {
    text-align: right;
    padding-right: 5px;
}

.total-cell {
    text-align: center;    
    font-weight: 800;
    color: midnightblue;
}

.item-explanation {
    font-weight: 500;
}

.final {
    padding: 10px;
    height: 100px;
}



.table {
    color: darkslategray;
    border-radius: 10px;
    border-style: hidden;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

.your {
    width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    color: navy;
    font-family: cursive
}

.edit {
    font-size: 18px;
    color: navy;
    display: block;
    float: left;
    margin-top: 20px;
    text-decoration-line: underline;
}

.choose-button {
    display: block;
    float: right;
    margin-left: auto;
    margin-top: 20px;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    background-color: navy;
    color: white;
    border: none;
    cursor: pointer;
}









.input-test {
    font-size: 20px;
}







.navbar-container {
    width: 100%;
    height: 60px;
    background-color: crimson;
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-boxes {
    width: 100px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.cursor-on {
    cursor: pointer;
    transition: all 0.25s;
}

.cursor-on:hover {
    background-color: brown;
}

.font-big {
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .main-title {
        font-size: 30px;
    }
}



.test-container-flex {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 1400px;
}

.item-cells {
    background-color: #eee;
    height: 200px;
    width: 25%;
    align-content: center;
    text-align: center;
    
}

.big-size-title {
    font-size: 1.35rem;
    margin: 5px;
    font-weight: 1000;
}

.test-container-flex i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 15px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 700px;
}



.shop-items {
    width: 33%;
    padding: 10px;
}

.shop-items img {
    width: 100%;
    display: block;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 150%;
    align-content: flex-end;
    transition: all 0.5s;
}

.overlay:hover {
    transform: translateY(-33%);
}



.overlay-box; {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.black-box-half {
    width: 100%;
    height: 33%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    color: white;    
    font-weight: 700;
}

.black-box-half p {
    display: block;
    padding-left: 25px;
    padding-top: 15px;
    margin: 0;
}

.custom {
    color: green;
}
