* {
    box-sizing: border-box;
    /* margin: 0; padding: 0; 등 다른 초기화 코드가 있다면 여기에 함께 둡니다. */
}

body {
    margin: 0;
}


.roboto-slab-title {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-slab-subtitle {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-container {
    width: 100%;
    height: 470px;
    background: linear-gradient(rgb(126, 126, 237), #000091);
    display: flex;
    flex-direction: row;
}

.main-right-container {
    width: 50%;
    height: 100%;
    align-content: flex-end;
    position: relative;
}

.iphone-img {
    display: block;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 15%;
}

.main-title-container {
    width: 500px;
    height: 50%;
    padding: 50px;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-left-container {
    width: 50%;
    height: 100%;
    padding: 0.01;
}

.main-title {
    font-size: 40px;
}

.title-explanation {
    margin-top: 20px;
}

.main-button-container {
    margin-top: 20px;
}

.show-button {
    width: 125px;
    height: 60px;
    background-color: #212121;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.show-button:hover {
    background-color: dimgray;
}

.second-container {
    width: 100%;
    height: 230px;
    text-align: center;
    align-content: center;
}

.explanation-title {
    font-size: 23px;
}

.third-container {
    width: 100%;
    height: 350px;
    background-color: #7817b7;
    text-align: center;
    padding: 30px;
}

.third-container-explanations span {
    display: block;
}

.third-container-explanations {
    color: white;

}

.offer {
    font-size: 20px;
}

.icon-container {
    margin-top: 30px;
    width: 85%;
    min-width: 840px;
    max-width: 1050px;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

.icon-cells {
    width: 250px;
    height: 100%;
    color: white;
    align-content: center;
}

.icon-cells:hover .icon-image{
    transform: translateY(-30px) scale(1.2);

}

.icon-cells p {
    margin: 0;
    display: block;
    margin-bottom: 5px;
}

.icon-image {
    color:  #7817b7;
    background-color: white;
    width: 100px !important;
    height: 100px;
    padding: 25px;
    border-radius: 50%;    
    margin-bottom: 10px;
    transition: all 0.5s;
}

.fourth-container {
    width: 100%;
    height: 800px;
    padding: 40px;
}

.portfolio-container {
    text-align: center;
}

.portfolio-container span {
    display: block;
}

.section-container {
    max-width: 1000px;
    min-width: 850px;
    height: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.section-cells {
    width: 50%;
    height: 50%;
    color: white;
}

.section-1 {
    background-image: url(../img/portfolio-1-1.jpg);
}

.section-2 {
    background-image: url(../img/portfolio-2.jpg);  
}

.section-3 {
    background-image: url(../img/portfolio-3-1.jpg);
}

.section-4 {
    background-image: url(../img/portfolio-4-1.jpg);
}

.image-option {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat : no-repeat;    
}
.black-color-half {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    position: relative;
}

.black-color-half span {
    display: block;
}

.section-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.section-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s;
    border: 0 solid white;

}

.section-effect:hover {
    border: 25px solid white;
}

.transition-1s {
    transition: all 1s;
}

.transition-05s {
    transition: all 0.5s;
}

@media screen and (max-width: 900px) {
    .main-left-container {
        width: 100%;
        height: 50%;
    }
    
    .main-right-container {
        display: block;
        width: 100%;
        height: 50%;
    }
    
    .iphone-img{
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .main-container {
        flex-direction: column;
        height: 700px;
        text-align: center;
    }
    
    .third-container {
        height: 700px;
    }
    
    .icon-container {
        flex-wrap: wrap;
        width: 100%;
        height: 50%;
        min-width: auto;
    }
    
    .icon-cells {
        width: 50%;
    }
    
    .fourth-container {
    position: relative;
    height: 1400px;
    }
    
    .section-container {
        min-width: auto;
        height: 1200px;
    }
    
    .section-cells {
        width: 530px;
        height: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    

}
.footer-container {
    width: 100%;
    height: 200px;
    margin-top: -30px;
}

.last-icon-container {
    width: 350px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.last-icons {
    width: 33%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.last-icons:hover {
    transform: translateY(-10px) scale(1.1);
}

.last-icon-option {
    color: white;
    width: 80px !important;
    height: 80px;
    background-color: blue;
    padding: 15px;
    border-radius: 50%;
}
